@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("header.css");
@import url("sidebar.css");

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  background-color: var(--background);
}
:root {
  --font: "Roboto", sans-serif;
  --main-color: #1a4e43;
  --secondary-color: #d79a2a;
  --background: #f5f5f5;
}

.main {
  background-color: #f5f5f5;
  height: auto;
  padding-bottom: 15px;

  /* layout */
  display: grid;
  grid-template-rows: 130px 1fr;
  justify-items: center;
  row-gap: 20px;
}

/* attendance */
.main .container {
  grid-row: 3/3;
  height: auto;
  width: 1000px;
  background-color: white;
  padding: 15px;
}
table,
tr,
th,
td:not(.different) {
  border-collapse: collapse;
  text-align: center;
}
th {
  background-color: var(--main-color);
  font-family: var(--font);
  font-weight: 500;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
td:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.main .container2 {
  grid-row: 3/3;
  height: auto;
  width: 1000px;
  background-color: white;
  padding: 15px;
  display: none;
}

#Status1 {
  width: 100px;
}

.different {
  text-align: center;
  width: 990px;
  border: none;
}

.Button {
  grid-row: 2/3;
  height: auto;
  width: 1000px;
  background-color: white;
  padding: 15px;
}
.Button button {
  height: 30px;
  width: 200px;
  margin: 10px;
  border: none;
  color: white;
  font-weight: 500;
}
.Button .records {
  background-color: var(--secondary-color);
}
.Button button:not(.records) {
  background-color: var(--main-color);
}

.form-sheets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* checkbox */
.checkbox {
  height: 15px;
  width: 15px;
}
/* date */
input[type="number"] {
  height: 25px;
  width: 245px;
}
/* subject and section */
.subjects,
.sections {
  height: 30px;
  width: 245px;
}
/* submit */
.submit-sheets {
  height: 30px;
  width: 245px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-family: var(--font);
  font-family: 500;
  cursor: pointer;
}
/* action button */
.action {
  height: 30px;
  width: 100px;
  border: none;
  background-color: var(--secondary-color);
  font-family: var(--font);
  font-weight: 500;
  color: black;
}

td a {
  text-decoration: none;
  height: 30px;
  width: 30px;
  background-color: var(--main-color);
  color: white;
  font-weight: 500;
}

/* delete in action */
.DeleteDiv {
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  left: 40%;
  display: none;
}
.close {
  background-color: red;
  color: white;
  border: none;
  height: 20px;
  width: 20px;
}
.deleted {
  height: 50px;
  width: 100px;
  margin: 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
}
.archive {
  height: 50px;
  width: 100px;
  margin: 20px;
  background-color: rgb(56, 229, 77);
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: white;
}
.archive2 {
  height: 50px;
  width: 150px;
  margin: 20px;
  background-color: rgb(56, 229, 77);
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: white;
}
/* checkbox for select all */
.select-all-checkbox {
  height: 20px;
  width: 20px;
}
.select-all {
  position: absolute;
  left: 30px;
  bottom: 5px;
}
/* button or archive */
input[name="openArchive"] {
  background-color: var(--main-color);
  color: white;
  border: none;
  cursor: pointer;
}
input[name="CloseArchive"] {
  background-color: var(--main-color);
  color: white;
  border: none;
  cursor: pointer;
}
/* search */
input[name="InsertName"] {
  height: 30px;
  width: 160px;
}
.search-surname {
  height: 35px;
  width: 100px;
  border: none;
  background-color: var(--main-color);
  cursor: pointer;
  color: white;
  font-weight: 500;
  margin-left: 10px;
}
.clear-search {
  height: 35px;
  width: 100px;
  border: none;
  background-color: var(--main-color);
  cursor: pointer;
  color: white;
  font-weight: 500;
  margin-left: 10px;
}
